In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("time_series_covid19_confirmed_global.csv", parse_dates=True
                )

In [3]:
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,21,22,22,22,24,24,40,40,74,84
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,51,55,59,64,70,76,89,104,123,146
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,54,60,74,87,90,139,201,230,264,302
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,2,39,39,53,75,88,113,133,164,188
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,1,2,2,3,3,3

In [4]:
del df['Province/State']

In [5]:
df_melt=df.melt(id_vars=["Country/Region", "Lat", "Long"], 
        var_name="Date")

In [6]:
df_melt

               Country/Region        Lat        Long     Date  value
0                 Afghanistan  33.000000   65.000000  1/22/20      0
1                     Albania  41.153300   20.168300  1/22/20      0
2                     Algeria  28.033900    1.659600  1/22/20      0
3                     Andorra  42.506300    1.521800  1/22/20      0
4                      Angola -11.202700   17.873900  1/22/20      0
5         Antigua and Barbuda  17.060800  -61.796400  1/22/20      0
6                   Argentina -38.416100  -63.616700  1/22/20      0
7                     Armenia  40.069100   45.038200  1/22/20      0
8                   Australia -35.473500  149.012400  1/22/20      0
9                   Australia -33.868800  151.209300  1/22/20      0
10                  Australia -12.463400  130.845600  1/22/20      0
11                  Australia -28.016700  153.400000  1/22/20      0
12                  Australia -34.928500  138.600700  1/22/20      0
13                  Australia -41.454500  145.970700  1/22/20      0
14                  Australia -37.813600  144.963100  1/22/20      0
15                  Australia -31.950500  115.860500  1/22/20      0
16                    Austria  47.516200   14.550100  1/22/20      0
17                 Azerbaijan  40.143100   47.576900  1/22/20      0
18                    Bahamas  25.034300  -77.396300  1/22/20      0
19                    Bahrain  26.027500   50.550000  1/22/20      0
20                 Bangladesh  23.685000   90.356300  1/22/20      0
21                   Barbados  13.193900  -59.543200  1/22/20      0
22                    Belarus  53.709800   27.953400  1/22/20      0
23                    Belgium  50.833300    4.000000  1/22/20      0
24                      Benin   9.307700    2.315800  1/22/20      0
25                     Bhutan  27.514200   90.433600  1/22/20      0
26                    Bolivia -16.290200  -63.588700  1/22/20      0
27     Bosnia and Herzegovina  43.915900   17.679100  1/22/20      0
28                     Brazil -14.235000  -51.925300  1/22/20      0
29                     Brunei   4.535300  114.727700  1/22/20      0
...                       ...        ...         ...      ...    ...
15650                 Ukraine  48.379400   31.165600  3/25/20    145
15651    United Arab Emirates  24.000000   54.000000  3/25/20    333
15652          United Kingdom  32.307800  -64.750500  3/25/20      7
15653          United Kingdom  19.313300  -81.254600  3/25/20      8
15654          United Kingdom  49.372300   -2.364400  3/25/20     46
15655          United Kingdom  36.140800   -5.353600  3/25/20     26
15656          United Kingdom  54.236100   -4.548100  3/25/20     23
15657          United Kingdom  16.742500  -62.187400  3/25/20      1
15658          United Kingdom  55.378100   -3.436000  3/25/20   9529
15659                 Uruguay -32.522800  -55.765800  3/25/20    189
15660                      US  37.090200  -95.712900  3/25/20  65778
15661              Uzbekistan  41.377500   64.585300  3/25/20     60
15662               Venezuela   6.423800  -66.589700  3/25/20     91
15663                 Vietnam  16.000000  108.000000  3/25/20    141
15664                  Zambia -15.416700   28.283300  3/25/20     12
15665                Zimbabwe -20.000000   30.000000  3/25/20      3
15666                  Canada   0.000000    0.000000  3/25/20      0
15667                Dominica  15.415000  -61.371000  3/25/20      7
15668                 Grenada  12.116500  -61.679000  3/25/20      1
15669              Mozambique -18.665695   35.529562  3/25/20      5
15670                   Syria  34.802075   38.996815  3/25/20      5
15671             Timor-Leste  -8.874217  125.727539  3/25/20      1
15672                  Belize  13.193900  -59.543200  3/25/20      2
15673                  Canada   0.000000    0.000000  3/25/20      0
15674                    Laos  19.856270  102.495496  3/25/20      3
15675                   Libya  26.335100   17.228331  3/25/20      1
15676      West Bank and Gaza  31.952200   35.233200  3/25/20     -1
15677           Guinea-Bissau  11.803700  -15.180400  3/25/20      2
15678                    Mali  17.570692   -3.996166  3/25/20      2
15679   Saint Kitts and Nevis  17.357822  -62.782998  3/25/20      2

[15680 rows x 5 columns]

In [7]:
df_melt2=df_melt.set_index('Country/Region')

In [8]:
df_melt2.to_csv('confirmed_wrangled.csv')