In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("time_series_covid19_recovered_global.csv", parse_dates=True
                )

In [5]:
df.head()

,Province/State,Country/Region,Lat,Long,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,3/15/2020,3/16/2020,3/17/2020,3/18/2020,3/19/2020,3/20/2020,3/21/2020,3/22/2020,3/23/2020,3/24/2020
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,1,1
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,0,0,0,0,0,0,2,2,2,10
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,12,12,12,12,32,32,32,65,65,24
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
del df['Province/State']

In [7]:
df_melt=df.melt(id_vars=["Country/Region", "Lat", "Long"], 
        var_name="Date")

In [8]:
df_melt

               Country/Region      Lat      Long       Date  value
0                 Afghanistan  33.0000   65.0000  1/22/2020      0
1                     Albania  41.1533   20.1683  1/22/2020      0
2                     Algeria  28.0339    1.6596  1/22/2020      0
3                     Andorra  42.5063    1.5218  1/22/2020      0
4                      Angola -11.2027   17.8739  1/22/2020      0
5         Antigua and Barbuda  17.0608  -61.7964  1/22/2020      0
6                   Argentina -38.4161  -63.6167  1/22/2020      0
7                     Armenia  40.0691   45.0382  1/22/2020      0
8                   Australia -35.4735  149.0124  1/22/2020      0
9                   Australia  35.4437  139.6380  1/22/2020      0
10                  Australia -33.8688  151.2093  1/22/2020      0
11                  Australia -12.4634  130.8456  1/22/2020      0
12                  Australia -28.0167  153.4000  1/22/2020      0
13                  Australia -34.9285  138.6007  1/22/2020      0
14                  Australia -41.4545  145.9707  1/22/2020      0
15                  Australia -37.8136  144.9631  1/22/2020      0
16                  Australia -31.9505  115.8605  1/22/2020      0
17                    Austria  47.5162   14.5501  1/22/2020      0
18                 Azerbaijan  40.1431   47.5769  1/22/2020      0
19                    Bahamas  25.0343  -77.3963  1/22/2020      0
20                    Bahrain  26.0275   50.5500  1/22/2020      0
21                 Bangladesh  23.6850   90.3563  1/22/2020      0
22                   Barbados  13.1939  -59.5432  1/22/2020      0
23                    Belarus  53.7098   27.9534  1/22/2020      0
24                    Belgium  50.8333    4.0000  1/22/2020      0
25                      Benin   9.3077    2.3158  1/22/2020      0
26                     Bhutan  27.5142   90.4336  1/22/2020      0
27                    Bolivia -16.2902  -63.5887  1/22/2020      0
28     Bosnia and Herzegovina  43.9159   17.6791  1/22/2020      0
29                     Brazil -14.2350  -51.9253  1/22/2020      0
...                       ...      ...       ...        ...    ...
14649                  Sweden  63.0000   16.0000  3/24/2020     16
14650             Switzerland  46.8182    8.2275  3/24/2020    131
14651                   Syria  34.8021   38.9968  3/24/2020      0
14652                 Taiwan*  23.7000  121.0000  3/24/2020     29
14653                Tanzania  -6.3690   34.8888  3/24/2020      0
14654                Thailand  15.0000  101.0000  3/24/2020     52
14655             Timor-Leste  -8.8742  125.7275  3/24/2020      0
14656                    Togo   8.6195    0.8248  3/24/2020      1
14657     Trinidad and Tobago  10.6918  -61.2225  3/24/2020      0
14658                 Tunisia  34.0000    9.0000  3/24/2020      1
14659                  Turkey  38.9637   35.2433  3/24/2020      0
14660                  Uganda   1.0000   32.0000  3/24/2020      0
14661                 Ukraine  48.3794   31.1656  3/24/2020      1
14662    United Arab Emirates  24.0000   54.0000  3/24/2020     45
14663          United Kingdom  32.3078  -64.7505  3/24/2020      0
14664          United Kingdom  19.3133  -81.2546  3/24/2020      0
14665          United Kingdom  49.3723   -2.3644  3/24/2020      0
14666          United Kingdom  36.1408   -5.3536  3/24/2020      5
14667          United Kingdom  49.4500   -2.5800  3/24/2020      0
14668          United Kingdom  54.2361   -4.5481  3/24/2020      0
14669          United Kingdom  49.1900   -2.1100  3/24/2020      0
14670          United Kingdom  16.7425  -62.1874  3/24/2020      0
14671          United Kingdom  55.3781   -3.4360  3/24/2020    135
14672                 Uruguay -32.5228  -55.7658  3/24/2020      0
14673                      US  37.0902  -95.7129  3/24/2020    348
14674              Uzbekistan  41.3775   64.5853  3/24/2020      0
14675               Venezuela   6.4238  -66.5897  3/24/2020     15
14676                 Vietnam  16.0000  108.0000  3/24/2020     17
14677                  Zambia -15.4167   28.2833  3/24/2020      0
14678                Zimbabwe -20.0000   30.0000  3/24/2020      0

[14679 rows x 5 columns]

In [9]:
df_melt2=df_melt.set_index('Country/Region')

In [10]:
df_melt2.to_csv('recovered_wrangled.csv')